body{
    margin: 0 auto;
    background-color: #F2F3F5;
}
.photo{
    background-image: url(img/img2.jpeg);
    background-size: cover;
    margin: 30px;
    height: 500px;
    border: 30px solid rgb(68, 37, 59) ;
}
.donation_button{
    background-color: rgba(9, 193, 240, 0.986); 
    padding: 30px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    width: 20%;

}
.donation_button a{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}
.content{
    margin: auto;
    margin: 20px;
    text-align: center;

}
.content_heading{
    font-size: 40px;
    
}
.content_description{
    font-size: 20px;
    line-height: 30px;
}
img{
    border: 40px solid skyblue;
}
.content_points{
   padding: 20px;
   width: 60%;
   text-align: center;
   margin: auto;


} 
.content_point_heading_a{
    background-color: salmon;
    text-align: center;
    font-size: 30px;
    margin: auto;
    height: 50px;
    padding: 30px;
    border-radius: 20px;
}  
.content_point_heading_b{
    background-color: salmon;
    text-align: center;
    font-size: 30px;
    margin: auto;
    height: 50px;
    margin-top: 10px;
    padding: 30px;
    border-radius: 20px;
} 
.content_point_heading_c{
    background-color: salmon;
    text-align: center;
    font-size: 30px;
    margin: auto;
    height: 50px;
    margin-top: 10px;
    padding: 30px;
    border-radius: 20px;
} 
.content_point_heading_d{
    background-color: salmon;
    text-align: center;
    font-size: 30px;
    margin: auto;
    height: 50px;
    margin-top: 10px;
    padding: 30px;
    border-radius: 20px;
} 